SOCIAL_AUTH_KEYCLOAK_KEY = {{social_auth_keycloak_key|to_json}}
SOCIAL_AUTH_KEYCLOAK_SECRET = {{social_auth_keycloak_secret|to_json}}
SOCIAL_AUTH_KEYCLOAK_PUBLIC_KEY = {{social_auth_keycloak_public_key|to_json}}
SOCIAL_AUTH_KEYCLOAK_AUTHORIZATION_URL = {{social_auth_keycloak_authorization_url|to_json}}
SOCIAL_AUTH_KEYCLOAK_ACCESS_TOKEN_URL = {{social_auth_keycloak_access_token_url|to_json}}
